<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="SuperUserCtrl">

        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <!--content-->
        <div class="content-wrapper">
            <div growl></div>

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Accesos de Usuarios
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Accesos de Super Usuairo</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <section class="content" style="min-height:450px;">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="box  box-info">
                                    <div class="box-header ">
                                        <h3 class="box-title">Modulos del Sistema</h3>

                                    </div><!-- /.box-header -->
                                    <div class="box-body">

                                        <table id="accessSuperTable" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Tipo de Usuario</th>
                                                <th>Mudulo de Usuarios</th>
                                                <th>Modulo de Polizas</th>
                                                <th>Modulo de Siniestros</th>
                                                <th>Modulo de Aseguradora</th>
                                                <th>Modulo Opciones Administrativas</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>Administrador</td>
                                                <td id="admin_1" style="text-align: center"><input type="checkbox" name="n_admin_1" ng-model="checkBoxAdmin.object[0].checkBoxActive"/></td>
                                                <td id="admin_2" style="text-align: center"><input type="checkbox" name="n_admin_2" ng-model="checkBoxAdmin.object[1].checkBoxActive"/></td>
                                                <td id="admin_3" style="text-align: center"><input type="checkbox" name="n_admin_3" ng-model="checkBoxAdmin.object[2].checkBoxActive"/></td>
                                                <td id="admin_4" style="text-align: center"><input type="checkbox" name="n_admin_4" ng-model="checkBoxAdmin.object[3].checkBoxActive"/></td>
                                                <td id="admin_5" style="text-align: center"><input type="checkbox" name="n_admin_5" ng-model="checkBoxAdmin.object[4].checkBoxActive"/></td>
                                            </tr>
                                            <tr>
                                                <td>Suscripcion</td>
                                                <td id="suscripcion_1" style="text-align: center"><input type="checkbox" name="n_suscripcion_1" ng-model="checkBoxSuscripcion.object[0].checkBoxActive"/></td>
                                                <td id="suscripcion_2" style="text-align: center"><input type="checkbox" name="n_suscripcion_2" ng-model="checkBoxSuscripcion.object[1].checkBoxActive"/></td>
                                                <td id="suscripcion_3" style="text-align: center"><input type="checkbox" name="n_suscripcion_3" ng-model="checkBoxSuscripcion.object[2].checkBoxActive"/></td>
                                                <td id="suscripcion_4" style="text-align: center"><input type="checkbox" name="n_suscripcion_4" ng-model="checkBoxSuscripcion.object[3].checkBoxActive"/></td>
                                                <td id="suscripcion_5" style="text-align: center"><input type="checkbox" name="n_suscripcion_5" ng-model="checkBoxSuscripcion.object[4].checkBoxActive"/></td>

                                            </tr>
                                            <tr>
                                                <td>Siniestros</td>
                                                <td id="siniestro_1" style="text-align: center"><input type="checkbox" name="n_siniestro_1" ng-model="checkBoxSiniestro.object[0].checkBoxActive"/></td>
                                                <td id="siniestro_2" style="text-align: center"><input type="checkbox" name="n_siniestro_2" ng-model="checkBoxSiniestro.object[1].checkBoxActive"/></td>
                                                <td id="siniestro_3" style="text-align: center"><input type="checkbox" name="n_siniestro_3" ng-model="checkBoxSiniestro.object[2].checkBoxActive"/></td>
                                                <td id="siniestro_4" style="text-align: center"><input type="checkbox" name="n_siniestro_4" ng-model="checkBoxSiniestro.object[3].checkBoxActive"/></td>
                                                <td id="siniestro_5" style="text-align: center"><input type="checkbox" name="n_siniestro_5" ng-model="checkBoxSiniestro.object[4].checkBoxActive"/></td>
                                            </tr>
                                            <tr>
                                                <td>Coordinador</td>
                                                <td id="coordinador_1" style="text-align: center"><input type="checkbox" name="n_coordinador_1" ng-model="checkBoxCoordinador.object[0].checkBoxActive"/></td>
                                                <td id="coordinador_2" style="text-align: center"><input type="checkbox" name="n_coordinador_2" ng-model="checkBoxCoordinador.object[1].checkBoxActive"/></td>
                                                <td id="coordinador_3" style="text-align: center"><input type="checkbox" name="n_coordinador_3" ng-model="checkBoxCoordinador.object[2].checkBoxActive"/></td>
                                                <td id="coordinador_4" style="text-align: center"><input type="checkbox" name="n_coordinador_4" ng-model="checkBoxCoordinador.object[3].checkBoxActive"/></td>
                                                <td id="coordinador_5" style="text-align: center"><input type="checkbox" name="n_coordinador_5" ng-model="checkBoxCoordinador.object[4].checkBoxActive"/></td>
                                            </tr>
                                            </tbody>
                                            </tfoot>
                                        </table>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="content" style="min-height: 0px;">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-block btn-primary btn-md "
                                            ng-click="saveAccess()">Save
                                    </button>
                                    <br/>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <br/>
                        </div>

                    </section><!-- /.content -->

                </div>
                <br/>
                <br/>
            </section>


        </div>

        <!--footer-->
        <div ui-view="footer"></div>

    </div>

</div>