
<div class="skin-blue sidebar-mini">
    <div class="wrapper" ng-controller="HomeController as homeCtrl">

        <div ui-view="header"></div>

        <div ui-view="menu"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="background-home">

                <div class="row">

                    <div class="col-md-12">
                        <img src="images/logo2.jpeg" alt="Reaxium" style="width:25%; margin-left:28%; padding-top:15%;">
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </section><!-- /.content -->
        </div>


    </div><!-- ./wrapper -->
</div>


