<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="NewPolizaCtrl">

        <!--Header-->
        <div ui-view="header"></div>

        <!--Menu-->
        <div ui-view="menu"></div>

        <!--Content-->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Crear Poliza</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a ui-sref="routes">Poliza</a></li>
                    <li class="active"><a>Crear Poliza</a></li>
                </ol>

            </section>

            <section class="content">
                <div growl></div>


                <!--Aseguradora-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border">
                                    <h3 class="box-title">Agente y Aseguradora</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-sm-6">
                                        <br>
                                        <label>Agente</label>

                                        <div>
                                            <select class="form-control select-standard-size" ng-model="poliza.agente_helper"
                                                    ng-change="onAgentChangeEvent()">
                                                <option value="">Seleccione...</option>
                                                <option value="MMR">
                                                    {{'MMR'}}
                                                </option>
                                                <option value="JCR">
                                                    {{'JCR'}}
                                                </option>
                                                <option value="ZCR">
                                                    {{'ZCR'}}
                                                </option>
                                                <option value="ARB">
                                                    {{'ARB'}}
                                                </option>
                                                <option value="ACQ">
                                                    {{'ACQ'}}
                                                </option>
                                                <option value="otro">
                                                    {{'Otro'}}
                                                </option>
                                            </select>

                                            <input type="text" class="form-control text-standard-size"
                                                   ng-class="show_agent_helper"
                                                   placeholder="Indique Siglas del Agente"
                                                   ng-model="poliza.agente"/>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <br>
                                        <label>Aseguradora</label>
                                        <br>
                                        <button class="btn btn-go btn-go-effect btn-flat hvr-bubble-float-left"
                                                type="button" ng-click="openModalAseguradora()"
                                                data-toggle="tooltip"
                                                title="Buscar Aseguradoras">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                    <!--Tables aseguradora-->
                                    <div class="col-md-12" ng-show="showTableAseguradora">
                                        <div class="box box-info">
                                            <div class="box-header">
                                                <h3 class="box-title">Aseguradoras</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="businessFinalTable"
                                                       class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Nombre Aseguradora</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="obj in aseguradoraListFinal">
                                                        <td>{{obj.aseguradora_nombre}}</td>
                                                        <td><a ng-click="deleteAseguradoraSelect(obj.aseguradora_id)"
                                                               data-toggle="tooltip" title="Borrar Aseguradora">
                                                            <small><i class="fa fa-fw fa-trash"></i></small>
                                                            </i></a></td>
                                                    </tr>
                                                    </tbody>
                                                    </tfoot>
                                                </table>
                                            </div><!-- /.box-body -->
                                        </div><!-- /.box -->
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->

                    </div>

                </div>



                <div class="row">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Infomacion de la Poliza</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Numero de Poliza</label>
                                                <input type="text" class="form-control" placeholder="Numero de Poliza"
                                                       ng-model="poliza.numero_poliza">
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Numero de Recibo</label>
                                                <input type="text" class="form-control" placeholder="Numero de Recibo"
                                                       ng-model="poliza.numero_recibo">
                                            </div>
                                            <div class="col-sm-6">
                                                <br>
                                                <label>Vigencia Desde</label>

                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="open1()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input id="desde" type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popup1.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="poliza.vigenciaDesde"/>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <br>
                                                <label>Hasta</label>

                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="open2()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input id="hasta" type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popup2.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="poliza.vigenciaHasta"/>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <br/>
                                                <label>Prima</label>
                                                <input type="text" class="form-control" placeholder="Prima"
                                                       ng-model="poliza.prima">
                                            </div>
                                            <div class="col-sm-6">
                                                <br/>
                                                <label>Referencia</label>
                                                <input type="text" class="form-control" placeholder="Referencia"
                                                       ng-model="poliza.referencia">
                                            </div>
                                            <div class="col-sm-6">
                                                <br/>
                                                <label>Ramo</label>
                                                <select class="form-control" ng-model="ramos"
                                                        ng-change="agregarRamoALaPoliza(ramos)"
                                                        ng-options="ramos as ramos.ramo_nombre for ramos in ramo_select">
                                                    <option value="">Seleccione Ramo...</option>
                                                </select>
                                            </div>
                                            <br>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>

                            </div><!-- /.box -->

                        </div>

                    </div>
                </div>
                <!--Coberturas-->
                <div class="row" ng-if="poliza.ramo != null">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border">
                                    <h3 class="box-title">Coberturas</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-sm-12">
                                        <div ng-if="poliza_helper.ramo.selection == 'single'">
                                            <br/>

                                            <div class="divForResponsiveTable">
                                                <table class="text-center">
                                                    <thead >
                                                    <tr>
                                                        <th>
                                                            <select class="form-control"
                                                                    style="width: 214px;"
                                                                    ng-model="subRamoSeleccionado"
                                                                    ng-change="agregarSubRamoALaPolizaSimple(subRamoSeleccionado,true)">
                                                                <option value="">Seleccione Cobertura...</option>
                                                                <option ng-repeat="sub_ramo in poliza_helper.ramo.sub_ramo" value="{{sub_ramo}}">{{sub_ramo.sub_ramo_name || capitalize}}</option>
                                                            </select>
                                                        </th>

                                                        <th class="text-table"
                                                            ng-repeat="cobertura in subRamoSelected.coberturas">
                                                            {{cobertura.cobertura_name || capitalize}}
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td  ng-repeat="cobertura in subRamoSelected.coberturas">
                                                            <input type="text"
                                                                   class="th-new text-center"
                                                                   ng-model="monto"
                                                                   ng-change="agregarMontoACobertura(subRamoSelected,cobertura,monto)"
                                                                   placeholder="{{cobertura.cobertura_name || capitalize}}"/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                        </div>
                                        <div ng-if="poliza_helper.ramo.selection == 'multiple'">
                                            <br/>

                                            <div ng-repeat="sub_ramo in poliza_helper.ramo.sub_ramo" class="divForResponsiveTable">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" ng-model="check"
                                                                   class="text th-news"
                                                                   ng-change="agregarSubRamoALaPoliza(sub_ramo,check)"
                                                                   ng-true-value="true" ng-false-value="false"/>
                                                            <span class="text-padding-standard">{{sub_ramo.sub_ramo_name || capitalize}}</span>

                                                        </th>

                                                        <th ng-if="check" class="text-table"
                                                            ng-repeat="cobertura in sub_ramo.coberturas">
                                                            {{cobertura.cobertura_name || capitalize}}
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td ng-if="check"
                                                            ng-repeat="cobertura in sub_ramo.coberturas">
                                                            <input type="text"
                                                                   class="th-new"
                                                                   ng-model="monto"
                                                                   ng-change="agregarMontoACobertura(sub_ramo,cobertura,monto)"
                                                                   placeholder="{{cobertura.cobertura_name || capitalize}}"/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Informacion de Asegurado-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Infomacion del Asegurado</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Documento</label>
                                                <br/>
                                                <select class="form-control select-tiny-size" ng-model="poliza.asegurado.tipo_documento">
                                                    <option value="V" selected="selected">
                                                        {{'V'}}
                                                    </option>
                                                    <option value="E">
                                                        {{'E'}}
                                                    </option>
                                                    <option value="J">
                                                        {{'J'}}
                                                    </option>
                                                    <option value="G">
                                                        {{'G'}}
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control text-standard-size"
                                                       placeholder="Numero de documento"
                                                       ng-model="poliza.asegurado.numero_documento"/>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" placeholder="Nombre del Asegurado"
                                                       ng-model="poliza.asegurado.nombre">
                                            </div>

                                            <div class="col-sm-6">
                                                <br>
                                                <label>Apellido</label>
                                                <input type="text" class="form-control" placeholder="Apellido del Asegurado"
                                                       ng-model="poliza.asegurado.apellido">
                                            </div>
                                            <div class="col-sm-6">
                                                <br>
                                                <label>Fecha de Nacimiento</label>
                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="open1()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input id="fechaNacimiento" type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popup1.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="poliza.asegurado.fecha_nacimiento"/>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Genero</label>
                                                <br/>
                                                <select class="form-control" ng-model="poliza.asegurado.genero">
                                                    <option value="0" selected="selected">
                                                        {{'Masculino'}}
                                                    </option>
                                                    <option value="1">
                                                        {{'Femenino'}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Telefono</label>
                                                <input type="text" class="form-control" placeholder="Telefono"
                                                       ng-model="poliza.asegurado.telefono">
                                            </div>
                                            <div class="col-sm-6">
                                                <br/>
                                                <label>Correo Electronico</label>
                                                <input type="text" class="form-control" placeholder="Email"
                                                       ng-model="poliza.asegurado.email">
                                            </div>
                                            <div class="col-sm-6">
                                                <br/>
                                                <label>Es el Asegurado el Tomador?</label>
                                                <br/>
                                                <input type="checkbox" ng-model="checkTomador"
                                                       class="text th-news"
                                                       ng-true-value="true" ng-false-value="false"/>
                                            </div>
                                            <br>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>

                            </div><!-- /.box -->

                        </div>

                    </div>
                </div>

                <!--Informacion del Tomador-->
                <div class="row" ng-if="!checkTomador">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Infomacion del Tomador</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Documento</label>
                                                <br/>
                                                <select class="form-control select-tiny-size" ng-model="poliza.asegurado.tipo_documento">
                                                    <option value="V" selected="selected">
                                                        {{'V'}}
                                                    </option>
                                                    <option value="E">
                                                        {{'E'}}
                                                    </option>
                                                    <option value="J">
                                                        {{'J'}}
                                                    </option>
                                                    <option value="G">
                                                        {{'G'}}
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control text-standard-size"
                                                       placeholder="Numero de documento"
                                                       ng-model="poliza.tomador.numero_documento"/>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Nombre y Apellido</label>
                                                <input type="text" class="form-control" placeholder="Nombre y Apellido"
                                                       ng-model="poliza.tomador.nombre">
                                            </div>
                                            <br>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>

                            </div><!-- /.box -->

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="content" style="min-height: 0px;">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary btn-md"
                                    ng-click="savePoliza()">Guardar
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>

            <!--Modal con todos las aseguradoras del sistema--->
            <script type="text/ng-template" id="listAseguradorasAddModal.html">
                <div class="modal-header text-center fondo">
                    <h3 class="modal-title colorTitulo">Aseguradoras Informacion</h3>
                </div>

                <div class="text-center"></div>

                <div class="modal-body row" style="padding: 30px;">

                    <div>
                        <input class="form-control reduceSize" placeholder="Search here..."
                               on-enter-blur on-blur-change="filterResult()"
                               ng-model="filterCriteria.JcrParameters.filter" type="text"/>
                    </div>

                    <table id="asegTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in aseguradoraTableHeaders">
                                <sort-by onsort="onSort" sortdir="filterCriteria.JcrParameters.sortDir"
                                         sortedby="filterCriteria.JcrParameters.sortedBy"
                                         sortvalue="{{ header.value }}">{{ header.title }}
                                </sort-by>
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="obj in aseguradoras">
                            <td>{{obj.aseguradora_nombre}}</td>
                            <td align="center">
                                <input id="aseg_check_{{obj.aseguradora_id}}"
                                       type="radio"
                                       name="business"
                                       value="{{obj.aseguradora_id}}"
                                       ng-click="listAseguradora(obj)"/>
                            </td>
                        </tr>
                        </tbody>
                        </tfoot>
                    </table>
                    <div ng-show="totalRecords == 0">
                        <h3>No Customers Found</h3>
                    </div>
                    <div ng-show="totalPages > 1" class="align-center">
                        <uib-pagination total-items="totalRecords" ng-model="filterCriteria.JcrParameters.page"
                                        items-per-page="filterCriteria.JcrParameters.limit" previous-text="previous"
                                        next-text="next" last-text="last"
                                        direction-links="true" rotate="false" max-size="5" boundary-link-numbers="true"
                                        ng-change="selectPage()"></uib-pagination>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-ok-modal btn-primary" type="button" ng-click="processAseguradora()">OK
                    </button>
                </div>
            </script>

            <!--Modal con todos los usuarios del sistema--->
            <script type="text/ng-template" id="listUsersAddModal.html">
                <div class="modal-header text-center fondo">
                    <h3 class="modal-title colorTitulo">Usuarios Informacion</h3>
                </div>

                <div class="text-center"></div>

                <div class="modal-body row" style="padding: 30px;">
                    <div>
                        <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur
                               on-blur-change="filterResult()" ng-model="filterCriteria.JcrParameters.Users.filter"
                               type="text"/>
                    </div>

                    <table id="userTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in userTableHeaders">
                                <sort-by onsort="onSort" sortdir="filterCriteria.JcrParameters.Users.sortDir"
                                         sortedby="filterCriteria.JcrParameters.Users.sortedBy"
                                         sortvalue="{{ header.value }}">{{ header.title }}
                                </sort-by>
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.nombre }}</td>
                            <td>{{user.apellido}}</td>
                            <td>{{user.documento_id}}</td>
                            <td>{{user.tipo_usuario | lowerCase | capitalize}}</td>
                            <td>
                                <input id="user_check_{{user.usuario_id}}"
                                       type="radio"
                                       name="user"
                                       value="{{user.usuario_id}}"
                                       ng-click="listUsers(user)"/>
                            </td>

                        </tr>
                        </tbody>
                        </tfoot>
                    </table>
                    <div ng-show="totalRecords == 0">
                        <h3>No Customers Found</h3>
                    </div>
                    <div ng-show="totalPages > 1" class="align-center">
                        <uib-pagination total-items="totalRecords" ng-model="filterCriteria.JcrParameters.Users.page"
                                        items-per-page="filterCriteria.JcrParameters.Users.limit"
                                        previous-text="previous" next-text="next" last-text="last"
                                        direction-links="true" rotate="false" max-size="5" boundary-link-numbers="true"
                                        ng-change="selectPage()"></uib-pagination>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-ok-modal btn-primary" type="button" ng-click="processUsuario()">OK</button>
                </div>
            </script>

            <!--Modal con todos los usuarios del sistema--->
            <script type="text/ng-template" id="listBeneficiariosAddModal.html">
                <div class="modal-header text-center fondo">
                    <h3 class="modal-title colorTitulo">Usuarios Informacion</h3>
                </div>

                <div class="text-center"></div>

                <div class="modal-body row" style="padding: 30px;">
                    <div>
                        <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur
                               on-blur-change="filterResult()" ng-model="filterCriteria.JcrParameters.Users.filter"
                               type="text"/>
                    </div>

                    <table id="benifTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in userTableHeaders">
                                <sort-by onsort="onSort" sortdir="filterCriteria.JcrParameters.Users.sortDir"
                                         sortedby="filterCriteria.JcrParameters.Users.sortedBy"
                                         sortvalue="{{ header.value }}">{{ header.title }}
                                </sort-by>
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.nombre }}</td>
                            <td>{{user.apellido}}</td>
                            <td>{{user.documento_id}}</td>
                            <td>{{user.tipo_usuario | lowerCase | capitalize}}</td>
                            <td>
                                <input id="benif_check_{{user.usuario_id}}"
                                       type="checkbox"
                                       ng-checked="{{user.usuario_check}}"
                                       value="{{user.usuario_id}}"
                                       ng-click="listUsers(user)"/>
                            </td>

                        </tr>
                        </tbody>
                        </tfoot>
                    </table>
                    <div ng-show="totalRecords == 0">
                        <h3>No Customers Found</h3>
                    </div>
                    <div ng-show="totalPages > 1" class="align-center">
                        <uib-pagination total-items="totalRecords" ng-model="filterCriteria.JcrParameters.Users.page"
                                        items-per-page="filterCriteria.JcrParameters.Users.limit"
                                        previous-text="previous" next-text="next" last-text="last"
                                        direction-links="true" rotate="false" max-size="5" boundary-link-numbers="true"
                                        ng-change="selectPage()"></uib-pagination>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-ok-modal btn-primary" type="button" ng-click="processUsuario()">OK</button>
                </div>
            </script>

        </div>

        <!--Footer-->
        <div ui-view="footer"></div>

    </div>
</div>