<spinner name="spinnerNew" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="NewSiniestroCtrl">

        <!--Header-->
        <div ui-view="header"></div>

        <!--Menu-->
        <div ui-view="menu"></div>

        <!--Content-->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Crear Siniestro</h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li><a ui-sref="routes">Siniestro</a></li>
                    <li class="active"><a>Crear Siniestro</a></li>
                </ol>

            </section>

            <section class="content">
                <div growl></div>

                <!--Buscar Poliza-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 400px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border">
                                    <h3 class="box-title">Buscar Polizas</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-4">
                                        <div class="box box-info">
                                            <div class="box-body">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:0px;">
                                                            Buscar Polizas en Sistema&nbsp;&nbsp;&nbsp;
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-go btn-go-effect btn-flat hvr-bubble-float-left"
                                                                    type="button" ng-click="openModalPoliza()"
                                                                    data-toggle="tooltip"
                                                                    title="Buscar Aseguradoras"><i class="fa fa-search"></i>
                                                            </button>
                                                        </td>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Tables aseguradora-->
                                    <div class="col-md-12" ng-show="showTablePoliza">
                                        <div class="box box-info">
                                            <div class="box-header">
                                                <h3 class="box-title">Poliza</h3>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="businessFinalTable"
                                                       class="table table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Numero Poliza</th>
                                                        <th>Ramo</th>
                                                        <th>Aseguradora</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="poliza in polizaListFinal">
                                                        <td>{{poliza.numero_poliza}}</td>
                                                        <td>{{poliza.ramo.ramo_nombre | lowerCase | capitalize}}</td>
                                                        <td>{{poliza.aseguradora.aseguradora_nombre | lowerCase | capitalize}}</td>
                                                        <td><a ng-click="deletePolizaSelect(poliza.poliza_id)" data-toggle="tooltip" title="Borrar Aseguradora">
                                                            <small><i class="fa fa-fw fa-trash"></i></small>
                                                            </i></a></td>
                                                    </tr>
                                                    </tbody>
                                                    </tfoot>
                                                </table>
                                            </div><!-- /.box-body -->
                                        </div><!-- /.box -->
                                    </div>


                                </div>
                            </div><!-- /.box-body -->

                        </div><!-- /.box -->

                    </div>

                </div>


                <!--Informacion Siniestro-->
                <div class="row" ng-show="showTablePoliza">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Informacion Siniestro</h3>
                                </div><!-- /.box-header -->

                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-6">
                                                    <label>Numero de Siniestro</label><br>
                                                    <input type="number" class="form-control"placeholder="Numero de Siniestro" ng-model="siniestro.numero_siniestro">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>Observaciones de Ordenes</label><br>
                                                    <textarea rows="3" cols="80" ng-model="siniestro.observaciones_ordenes"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>
                            </div><!-- /.box -->
                        </div>
                    </div>
                </div>



                <!--Siniestro Auto-->
                <div class="row" ng-show="showInfoAutoSiniestro">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Siniestro Automovil</h3>
                                </div><!-- /.box-header -->

                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Fecha de Ocurrencia</label>
                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openFechaOcurrencia()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popupFechaOcurrencia.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="siniestro.fecha_ocurrencia"/>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Fecha de Declaracion</label>
                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openFechaDeclaracion()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popupFechaDeclaracion.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="siniestro.fecha_declaracion"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Fecha de Inspeccion</label>
                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openFechaInspeccion()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popupFechaInspeccion.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="siniestro.fecha_inspeccion"/>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Fecha de Entrada al Taller</label>
                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openFechaEntTaller()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popupFechaEntTaller.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="siniestro.fecha_entrada_taller"/>
                                                </p>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label>Taller Propuesto</label>
                                                <input type="text" class="form-control" placeholder="Taller Propuesto" ng-model="siniestro.taller_propuesto">
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Fecha de Cierre</label>
                                                <p class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openFechaCierre()"><i
                                                                    class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           is-open="popupFechaCierre.opened"
                                                           datepicker-options="dateOptions"
                                                           ng-required="true" close-text="Close"
                                                           alt-input-formats="altInputFormats"
                                                           ng-model="siniestro.fecha_cierre"/>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                        <div class="col-sm-6">
                                            <label>Repuestos involucrados:&nbsp;&nbsp;</label>
                                            <input type="radio" id="noResp" value="1" ng-model="respuestos.active" checked>
                                            <label for="noResp">No</label>
                                            <input type="radio"  id="siResp" ng-model="respuestos.active" value="2">
                                            <label for="siResp">Si</label>
                                        </div>

                                    </div>

                                        <div class="form-group" ng-show="respuestos.active == 2">
                                            <div class="col-sm-12">
                                                <fieldset data-ng-repeat="choice in choices">
                                                    <div class="col-sm-3">
                                                        <label>Fecha</label>
                                                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="fecha_repuesto_{{choice.id}}" ng-model="choice.fecha_llegada" />
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Pieza</label>
                                                        <input type="text" class="form-control" placeholder="Descripcion Pieza" ng-model="choice.descripcion">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Observacion</label>
                                                        <input type="text" class="form-control" placeholder="Observaciones" ng-model="choice.observaciones">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label>Acciones</label>
                                                        <br>
                                                        <button class="addRowBtn" ng-click="addNewChoice()">+</button>&nbsp;&nbsp;<button class="removeBtn" ng-show="$last" ng-click="removeChoice()">-</button>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label>Prima</label><br>
                                                    <strong><span>{{poliza.prima | currency:"Bs. ":0}}</span></strong>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Monto de Carta Aval o Reembolso</label>
                                                    <input type="number" class="form-control"placeholder="Monto de Ordenes" ng-keyup="calcularSiniestralidad()" ng-model="siniestro.monto_siniestro">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Siniestralidad</label><br>
                                                    <strong><span>{{porcentaje_siniestralidad | format_porcent}}</span></strong>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- /.box-body -->
                                </div>

                            </div><!-- /.box -->

                        </div>

                    </div>
                </div>

                <!--Reclamos Salud-->
                <div class="row" ng-show="showReclamoSalud">
                    <div class="col-lg-12">
                        <div class="content" style="min-height: 0px;">
                            <div class="box box-primary">
                                <div class="box-header bg-light-blue-active with-border ">
                                    <h3 class="box-title">Reclamos Salud</h3>
                                </div><!-- /.box-header -->

                                <!-- form start -->
                                <div class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-sm-4">
                                                    <label>Prima</label><br>
                                                    <strong><span>{{poliza.prima | currency:"Bs. ":0}}</span></strong>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Monto de Carta Aval o Reembolso</label>
                                                    <input type="number" class="form-control"placeholder="Monto de Ordenes" ng-keyup="calcularSiniestralidad()" ng-model="siniestro.monto_siniestro">
                                                </div>
                                                <div class="col-sm-4">
                                                    <label>Siniestralidad</label><br>
                                                    <strong><span>{{porcentaje_siniestralidad | format_porcent}}</span></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div>

                            </div><!-- /.box -->

                        </div>

                    </div>
                </div>

                <div class="row" ng-show="showTablePoliza">
                    <div class="content" style="min-height: 0px;">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary btn-md"
                                    ng-click="saveSiniestro()">Guardar
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </section>

            <!--Modal con todos las polizas del sistema--->
            <script type="text/ng-template" id="listPolizaSearchModal.html">
                <div class="modal-header text-center fondo">
                    <h3 class="modal-title colorTitulo">Informacion de la Poliza</h3>
                </div>

                <div class="text-center"></div>

                <div class="modal-body row" style="padding: 30px;">
                    <div>
                        <input class="form-control reduceSize" placeholder="Search here..." on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.JcrParameters.filter" type="text" />
                    </div>

                    <table id="userTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th ng-repeat="header in polizaTableHeaders">
                                <sort-by onsort="onSort" sortdir="filterCriteria.JcrParameters.sortDir" sortedby="filterCriteria.JcrParameters.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                            </th>
                            <th>Ramo</th>
                            <th>Numero de Recibo</th>
                            <th>Aseguradora</th>
                            <th>Agregar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="poliza in polizas">
                            <td>{{poliza.numero_poliza}}</td>
                            <td>{{poliza.ramo.ramo_nombre | lowerCase | capitalize}}</td>
                            <td>{{poliza.numero_recibo}}</td>
                            <td>{{poliza.aseguradora.aseguradora_nombre | lowerCase | capitalize}}</td>
                            <td align="center">
                                <input id="poliza_check_{{poliza.poliza_id}}"
                                       type="radio"
                                       name="poliza"
                                       value="{{poliza.poliza_id}}"
                                       ng-click="listPoliza(poliza)"/>
                            </td>
                        </tr>
                        </tbody>
                        </tfoot>
                    </table>
                    <div ng-show="totalRecords == 0">
                        <h3>No Customers Found</h3>
                    </div>
                    <div ng-show="totalPages > 1" class="align-center">
                        <uib-pagination total-items="totalRecords" ng-model="filterCriteria.JcrParameters.page" items-per-page="filterCriteria.JcrParameters.limit" previous-text="previous" next-text="next" last-text="last"
                                        direction-links="true" rotate="false" max-size="5"  boundary-link-numbers="true" ng-change="selectPage()"></uib-pagination>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-ok-modal btn-primary" type="button" ng-click="processPoliza()">OK</button>
                </div>
            </script>

        </div>

        <!--Footer-->
        <div ui-view="footer"></div>

    </div>
</div>