<spinner name="spinnerUserList" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="test"><i class="fa fa-refresh fa-spin fa-5x"></i></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>


<div class="skin-blue sidebar-mini">

    <div class="wrapper" ng-controller="SiniestroController">
        <!--header-->
        <div ui-view="header"></div>

        <!--menu-->
        <div ui-view="menu"></div>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <div growl></div>

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Siniestros
                    <small>Panel de Control</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="home"><i class="fa fa-dashboard"></i>Home</a></li>
                    <li class="active">Siniestros</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Main row -->
                <div class="row">
                    <section class="content" style="min-height:450px;">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="box  box-info">
                                    <div class="box-header ">
                                        <div class="small-box">
                                            <div class="customIcon">
                                                <a ui-sref="crearSiniestro" data-toggle="tooltip" title="Agregar Siniestro">
                                                    <button class="btn btn-primary"><i class="ion ion-plus"></i></button>
                                                </a>
                                            </div>
                                        </div>
                                        <h3 class="box-title">Sistema de Siniestros</h3>

                                    </div><!-- /.box-header -->
                                    <div class="box-body">

                                        <div>
                                            <input class="form-control reduceSize" placeholder="Buscar por tipo de siniestro" on-enter-blur on-blur-change="filterResult()" ng-model="filterCriteria.JcrParameters.filter" type="text" />
                                        </div>

                                        <table id="userTable" class="table table-bordered table-striped text-center">
                                            <thead>
                                            <tr>
                                                <th ng-repeat="header in siniestroTableHeaders">
                                                    <sort-by onsort="onSort" sortdir="filterCriteria.JcrParameters.sortDir" sortedby="filterCriteria.JcrParameters.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
                                                </th>
                                                <th>Número de Póliza</th>
                                                <th>Monto Ordenes</th>
                                                <th>Ramo</th>
                                                <th>Acción</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="obj in siniestro">
                                                <td>{{obj.numero_siniestro}}</td>
                                                <td>{{obj.poliza.numero_poliza}}</td>
                                                <td>{{obj.monto_siniestro | separador_punto }}</td>
                                                <td>{{obj.tipo_siniestro_id | tipo_siniestro}}</td>
                                                <!--<td><a href="" ng-click="userCtrl.showInformation(user.usuario_id)">Information</a></td>-->
                                                <td><a data-toggle="tooltip" title="Borrar Siniestro" ng-click="deleteUser(user.usuario_id)"><small><i class="fa fa-fw fa-trash"></i></small></i></a>&nbsp;
                                                    <a ui-sref="crearSiniestro({siniestro_id:obj.siniestro_id,edit:true,tipo_siniestro_id:obj.tipo_siniestro_id})" data-toggle="tooltip" title="Editar Siniestro"><small><i class="fa fa-fw fa-pencil"></i> </small></a>&nbsp;
                                                    <a ui-sref="infoSiniestro({siniestro_id:obj.siniestro_id,tipo_siniestro_id:obj.tipo_siniestro_id})" data-toggle="tooltip" title="Ver Siniestro"><small><i class="fa fa-fw fa-info"></i> </small></a>

                                                </td>
                                                <!--ng-click="editMode(user.user_id)"-->
                                            </tr>
                                            </tbody>
                                            </tfoot>
                                        </table>
                                        <div ng-show="totalRecords == 0">
                                            <h3>No se encontro registro</h3>
                                        </div>
                                        <div ng-show="totalPages > 1" class="align-center">
                                            <uib-pagination total-items="totalRecords" ng-model="filterCriteria.JcrParameters.page" items-per-page="filterCriteria.JcrParameters.limit" previous-text="Anterior" next-text="Siguiente" last-text="Ultimo"
                                                            direction-links="true" rotate="false" max-size="5"  boundary-link-numbers="true" ng-change="selectPage()"></uib-pagination>
                                        </div>
                                    </div><!-- /.box-body -->

                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </section><!-- /.content -->

                </div>
                <br/>
                <br/>
            </section>

            <div class="control-sidebar-bg"></div>
        </div>
        <div ui-view="footer"></div>
    </div>
</div>
</div>