/* header */
.skin-blue .main-header .navbar {
    background-color: #03294a
}

.main-header > .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 0;
    border: none;
    min-height: 50px;
    border-radius: 0;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #03294a;
}
/* header fin */

/*header tarjetas*/
.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer {
    background-color: #777 !important;
}

.box.box-solid.box-primary {
    border: 1px solid #03294a;
}
/*header fin tarjetas*/

/*modal*/
.fondo {
    background-color: #777;
}

.modal-header {
    border-bottom-color: #03294a;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #666 !important;
    border-color: #03294a;
}

.btn-primary {
    background-color: #03294a !important;
    border-color: #062744;
}

.content-header > .breadcrumb > li > a {
    color: #D19037;
    text-decoration: none;
    display: inline-block;
}

.content-header > .breadcrumb > li > a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.skin-blue .sidebar a {
    color: #777;
}

a {
    color: #999;
}

/*sub menu colores*/
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #374850;
    background: #fff;
    border-left-color: #03294a;
}
